*{
	margin:0px;
	padding: 0px;
}
body{
	background:url('../img/background.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	font-family: arial;
}
.container{
	width: 400px;
	margin: 3% auto;
	background-color: #0000006e;
	box-shadow: 0px 0px 20px #ffffff;
}

.container img{
	display: block;
	height: 150px;
	width: 150px;
	margin: 5% auto;
}
.container img:hover{
	display: block;
	height: 150px;
	width: 150px;
	margin: 5% auto;
	filter: grayscale(100%);
}
.container h2{
	text-align: center;
	color: yellow;
	padding: 10px;
}

.form-control{
	border: 2px solid black;
	border-radius: 5px;
	padding: 5px;
	width: 94%;
	height: 20px;
	margin: 5px;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;

}
.form-control:hover{
	border: 2px solid yellow;
	border-radius: 5px;
	padding: 5px;
	width: 94%;
	height: 20px;
	margin: 5px;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;

}
.btn {
	display: block;
	font-family: arial black;
	font-size: 20px;
	background-color: green;
	color: yellow;
	margin: 2% auto;
	width: 60%;
	height: 35px;
	border-bottom-left-radius: 50px;
	border-top-right-radius: 50px;
	cursor: pointer;
}
.btn:hover{
	display: block;
	font-family: arial black;
	background-color: yellow;
	color: green;
	margin: 2% auto;
	width: 60%;
	height: 35px;
}
.left{
  	float: left;
  	color: yellow;
  	width: 70%;
  	text-decoration: none;
  	font-size: 14px;
  	font-weight: bold;
  	cursor: pointer;
  	padding: 0px 10px;

}	
.right{
  	position: absolute;
    color: yellow;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;

}
.left:hover{
	display: block;
  	float: left;
  	color: red;
  	width: 70%;
  	text-decoration: none;
  	font-size: 14px;
  	font-weight: bold;
  	margin: 1px;
  	padding: 0px 10px;
}	
.right:hover{
  	position: absolute;
    color: red;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    margin: 1px;
}
.reg-right{
  	position: absolute;
  	padding: 0px 50px;
    color: yellow;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
 .reg-right:hover{
  	position: absolute;
    color: red;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin: 1px;
}
.reg-p{
	padding: 10px;
	color: yellow;
	font-size: 18px;
	text-shadow: 3px 3px 3px #000;
}
